Importing Pandas

In [161]:
import pandas as pd

Learning Series and Data Frame

In [162]:
# Series 
values = [10,20,30,40,50]
s = pd.Series(values , index = ['a','b', 'c', 'd', 'e'])

s.loc['a']


# Data frame
df = pd.DataFrame({
    "name" : ['Mike', 'Bob','ALice'],
    "Age"  : [30,40,50],
    "Job"  : ["Proagrammer" , "artist" , "Doctor"]
})


# the data frame by default shows the index column we can change it by ->
df =  df.set_index('name')

DataFrame Indexing

In [163]:
df1 =  pd.DataFrame({
    'a' : [1,2,3]
}, index = [0,1,2])

df2 = pd.DataFrame({
    'a' : [10,20,30]
}, index  = [1,2,0])

In [164]:
df1 +df2

    a
0  31
1  12
2  23

In [165]:
df = df.reset_index()

Import & Export

In [166]:
# Import & Export data 

# Import ->   # We can remove Unamed:0 in importing 
df.to_csv('mydata.csv', index = None)


# Export ->  # Right now, Unamded:0  has formed for empty column name 
# pd.read_csv('mydata.csv')

In [167]:
pd.read_csv('mydata.csv', index_col=0)        #This will remove the unamed 0: column

       Age          Job
name
Mike    30  Proagrammer
Bob     40       artist
ALice   50       Doctor

THis is basics, now we want to move to the actual datasets in other FILE: CH2